<div class="container">
  <div id="players">
    <div class="player" v-for="player in data.players" v-bind:class="{'player-gameover': player.gameOver, 'player-dead': !player.alive, 'player-active': player.active}">
      <div class="playernumber">Player {{player.number}}</div>
      <div class="field-container">
        <div class="field">
          <div class="field-row" v-for="row in player.field">
            <div class="field-block" v-bind:class="['block-' + block.blockClass]" v-for="block in row"></div>
          </div>
        </div>
        <div class="info" v-bind:style="{ width: (player.width * 22 + 6) + 'px'}">
          <div class="timer" v-if="player.timer != 0" v-bind:class="{'timer-ready': player.readyTimer}">
            <div class="timer-elapsed" v-bind:style="{ width: player.timerRatio * 100 + '%'}"></div>
            <div class="timer-text">{{ player.timerString }}</div>
          </div>
          <div>Mino: {{player.mino}}</div>
          <div>Combo: {{player.combo}}</div>
          <div>BTB: {{player.backToBack}}</div>
          <div>Garbage: {{player.garbage}}</div>
          <div>Target: {{player.target}}</div>
        </div>
      </div>
      <div class="next-container">
        <div class="hold">
          <div class="next-row" v-for="row in player.hold">
            <div class="next-block" v-bind:class="['block-' + block.blockClass]" v-for="block in row"></div>
          </div>
        </div>
        <div class="next">
          <div class="next-row" v-for="row in player.next">
            <div class="next-block" v-bind:class="['block-' + block.blockClass]" v-for="block in row"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
