<div class="container">
  <div id="players">
    <div class="player" v-for="player in data.players">
      <div class="field-container">
        <div class="field">
          <div class="field-row" v-for="row in player.field">
            <div class="field-block" v-bind:class="['block-' + block.blockClass]" v-for="block in row"></div>
          </div>
        </div>
        <div class="info">
          <div>Player {{player.number}}</div>
          <div>Alive: {{player.alive}}</div>
          <div>GameOver: {{player.gameOver}}</div>
          <div>Active: {{player.active}}</div>
          <div>Mino: {{player.mino}}</div>
          <div>Combo: {{player.combo}}</div>
          <div>BTB: {{player.backToBack}}</div>
          <div>Garbage: {{player.garbage}}</div>
          <div>Target: {{player.target}}</div>
        </div>
      </div>
      <div class="next-container">
        <div class="hold">
          <div class="next-row" v-for="row in player.hold">
            <div class="next-block" v-bind:class="['block-' + block.blockClass]" v-for="block in row"></div>
          </div>
        </div>
        <div class="next">
          <div class="next-row" v-for="row in player.next">
            <div class="next-block" v-bind:class="['block-' + block.blockClass]" v-for="block in row"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
